{% extends "base.html" %}
{% load static %}
{% block title %}musiques-page {{id_page}}{% endblock %}
{% block search %}
<form action="{% url "accueil" %}" method="post">
{% csrf_token %}
{{ recherche.as_p }}
<input type="submit" id="validation" name="search"/>
</form>
{% endblock %}
{% block content %}
<script language="JavaScript" type="text/javascript"> 
<!-- 
function confirmDelete() { 
 return confirm("Voulez vous vraiment supprimer ce fichier?")
} 
//--> 
</script>
<div id="page_info"><h2>Musiques : page {{id_page}} / {{pagination.num_pages}}</h2></div>
{% for musique in liste_musiques %}
<div class="element_conteneur">
	<div class="premier_etage">
		<div class="premier_bloc">
			<div class="artiste">
				<div>
				<div>Artiste : </div>
				<div>{{musique.artiste}}</div>
				</div>
			</div>
			<div class="titre">
				<div>
				<div>Titre : </div>
				<div>{{musique.titre}}</div>
				</div>
			</div>
			<div class="annee">
				<div>
				<div>Année : </div>
				<div>{{musique.annee}}</div>
				</div>
			</div>
			<div class="genre">
				<div>
				<div>Genre : </div>
				<div>{{musique.Genre}}</div>
				</div>
			</div>
			<div class="qualite">
				<div>
				<div>Qualité : </div>
				<div>{{musique.qualite}}</div>
				</div>
			</div>
			<div class="nb_tele">
				<div>
				<div><img src="{% static "image/download.png" %}"></div>
				<div><b>{{musique.nbTelechargement}}</b></div>
			</div>
			</div>
			<div class="datedepot">
				<div>
				<div>Dépot : </div>
				<div>{{musique.datedepot}}</div>
				</div>
			</div>
			<div class="uploader">
				<div>
				<div>Uploader : </div>
				<div>{{musique.uploader}}</div>
				</div>
			</div>
		</div>
			<div class="deuxieme_bloc">
		    <div class="photo"><img src="{{ musique.photo.url}}"></div>
	    </div>
    </div>
	<div class="troisieme_bloc">
		   	<div class="synopsis">
		   		<div>
		   		<div>Synopsis : </div>
		   		<div>{{musique.synopsis}}</div>
		   		</div>
		   	</div>
	   		<div class="tracklist">
	   			<div>
	   			<div>TrackList : </div>
	   			<div>{{musique.tracklist}}</div>
	   			</div>
		   </div>
			<div class="fichier">
				<div>
					{% if request.user == musique.uploader or request.user.is_superuser %}
					<a href="{% url "modifiermusique" musique.artiste musique.titre %}"><div>Modifier</div></a>
					{% endif %}
				</div><div>
					<a href="{% url "telechargement_musique" musique.artiste musique.titre %}"><div>Télecharger</div></a>
				</div><div>
					{% if request.user == musique.uploader or request.user.is_superuser %}
					<a href="{% url "supprimermusique" musique.artiste musique.titre %}" onclick="return confirmDelete();" "><div>Supprimer</div></a>
					{% endif %}
				</div>
			</div>
	</div>
</div>
{% endfor %}

<div id="pagination">
{% for value in liste_pagination %}
{% if value == "..." %}
<div class="pagination_points">...</div>
{% elif value == id_page %}
<div class="pagination_okk">{{id_page}}</div>
{% else %}
<a href="{% url 'afficher_musiques' value %}"><div class="pagination_ok">{{value}}</div></a>
{% endif %}
{% endfor %}
</div>

<link rel="stylesheet" href="{% static 'css/liste_musiques.css' %}" />
<script src="{% static 'js/liste_musiques.js' %}"></script>
{% endblock %}